<section class="hero">
  <div class="container">
    <!-- Resim background olarak atanacak -->
    <!-- <img src="../img/card.png" alt="hero" /> -->
    <div class="hero-content-frame">
      <h1 class="hero-h1">Ghosted</h1>
      <div class="hero-rating-stars"><p>STARS</p></div>
      <p class="hero-summary">
        Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but
        then makes the shocking discovery that she’s a secret agent.
      </p>
      <div class="hero-buttons">
        <button class="hero-button-watchTrailer">Watch trailer</button>
        <button class="hero-button-moreDetails">More details</button>
      </div>
    </div>
  </div>
</section>
