<div class="pagination-container"></div>
  <div class="pagination">
    <button class="pagination-button arrow-left" id="prevButton" type="button">
      <svg class="arrow-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <div id="paginationNumbers" class="pagination-numbers"></div>
    <button class="pagination-button arrow-right" id="nextButton" type="button">
      <svg class="arrow-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>