/* Geçici Root importu */
@import url('./root.css');

/* Styles for Mobile devices */
.hero {
    margin-top: -60px;
}

.hero > .container {
    position: relative;
    display: flex;
    padding: 0;
    height: 380px;
    background-color: #000000;
    transition: background-color 0.3s ease;
    overflow: hidden;
}

.hero-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero-Mobile.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(75deg, #000 33%, rgba(0, 0, 0, 0.7) 50%, transparent);
}

.light-theme .hero-gradient {
    background: linear-gradient(75deg, rgba(0, 0, 0, 0.8) 33%, rgba(0, 0, 0, 0.7) 50%, transparent);
}

.hero-content-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    margin: 100px 0px 0px 20px;
    width: 242px;
    z-index: 2;
}

.hero-h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

.light-theme .hero-h1 {
    color: #ffffff;
}

.hero-rating-stars {
    display: flex;
    width: 96px;
    height: 16px;
    margin: 12px 0 0 0;
    color: orange;
}

.hero-summary {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin: 20px 0px 0px 0px;
    width: 177px;
}

.light-theme .hero-summary {
    color: #ffffff;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin: 20px 0px 0px 0px;
    width: 242px;
    height: 38px;
}

/* Button Styles */
.hero-button-watchTrailer,
.hero-button-moreDetails {
    font-family: var(--main-font);
    font-weight: var(--font-weight-medium);
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 24px;
    width: 117px;
    height: 38px;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero-button-watchTrailer {
    background: var(--linear-to-top);
    color: #ffffff;
}

.hero-button-watchTrailer:hover {
    background: #ffffff;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.hero-button-moreDetails {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid var(--orange);
}

.hero-button-moreDetails:hover {
    background-color: transparent;
    color: #ffffff;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .hero > .container {
        height: 432px;
    }

    .hero-image-container {
        background-image: url('../img/hero-tablet.png');
        background-size: contain;
        background-position: right center;
    }

    .hero-content-frame {
        margin: 96px 0px 0px 32px;
        width: 262px;
    }

    .hero-h1 {
        font-size: 44px;
    }

    .hero-rating-stars {
        height: 20px;
    }

    .hero-summary {
        width: 254px;
    }

    .hero-buttons {
        margin: 28px 0px 0px 0px;
        width: 264px;
        height: 40px;
    }

    .hero-button-watchTrailer,
    .hero-button-moreDetails {
        font-size: 14px;
        width: 128px;
        height: 40px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .hero > .container {
        height: 720px;
    }

    .hero-image-container {
        background-image: url('../img/hero-desktop.png');
    }

    .hero-gradient {
        background: linear-gradient(75deg, #000 33%, #000000b3 50%, #0000);
    }

    .light-theme .hero-gradient {
        background: linear-gradient(75deg, rgba(0, 0, 0, 0.8) 33%, rgba(0, 0, 0, 0.7) 50%, transparent);
    }

    .hero-content-frame {
        margin: 178px 0px 0px 135px;
        width: 242px;
    }

    .hero-h1 {
        font-size: 64px;
    }

    .hero-rating-stars {
        height: 24px;
    }

    .hero-summary {
        font-size: 16px;
        width: 367px;
    }

    .hero-buttons {
        gap: 12px;
        margin: 36px 0px 0px 0px;
        width: 312px;
        height: 48px;
    }

    .hero-button-watchTrailer,
    .hero-button-moreDetails {
        font-size: 16px;
        width: 150px;
        height: 48px;
    }
}
