/* Styles for always visible */
.dark-theme .modal.active .modal-content {
    background-color: #ffffff;
}

.modal.active .modal-content {
    background-color: #000000;
}

.dark-theme .modal-header h2 {
    color: #000000;
}

.modal-header h2 {
    color: #ffffff;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    
}



/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    
}

/* Styles for Mobile devices */
